// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
	border-bottom: solid 1px $secondary-site;
	// gap: 15px;
}
// Спойлер
.spollers__item {
	font-family: 'CircularStd';
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	border-top: 1px solid $secondary-site;
	font-size: toRem(18);
	line-height: toRem(24);
	letter-spacing: -1.4%;
	padding: toRem(25) 0;
	position: relative;
	list-style: none;

	@media (max-width:$mobile){
		padding: toRem(16) toRem(20) toRem(16) 0;
		font-size: toRem(16);
		letter-spacing: -1.1%;
	}

	&::marker,
	&::-webkit-details-marker {
		display: none;
	}

	._spoller-init & {
		cursor: pointer;
		
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 0px;
			top: 50%;
			background-color: $white;
			height: 2px;
			width: 16px;
			border-radius: toRem(16);
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(0, -50%);
		}
		&::after {
			transform: translate(0, -50%) rotate(-90deg);
		}
		&._spoller-active {

			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
}


// Контент спойлера
.spollers__body {
	padding: toRem(25) 0;
	font-size: toRem(16);
	color: $secondary;
	font-weight: 400;

	@media (max-width:$mobile){
		padding: toRem(16) 0;
	}
}
