@font-face {
	font-family: CircularStd;
	font-display: swap;
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: CircularStd;
	font-display: swap;
	src: url("../fonts/CircularStd-Book.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SpaceMono;
	font-display: swap;
	src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NanumPenScript;
	font-display: swap;
	src: url("../fonts/NanumPenScript-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CircularStd;
	font-display: swap;
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
