// Заголовки, загальні БЕМ блоки та інше...

.main__button {
    background-color: $accent;
    padding: toRem(12) toRem(16);
    border-radius: toRem(7);
    line-height: toRem(24);
    letter-spacing: -1.1%;
    font-size: toRem(16);
    font-weight: 500;
    white-space: nowrap;
    transition: background-color 0.3s;

    &:hover {
        background-color: $accent-hover;
    }

    @media (max-width:$mobile){
        padding: toRem(10) toRem(14);
    }
}

.second__button {
    background-color: $secondary-site;
    transition: background-color 0.3s;

    &:hover {
        background-color: $nav-hover;
    }
}

.info-block {
    max-width: toRem(600);
    margin: 0 auto;
    padding: toRem(80) 0;
    text-align: center;

    @media (max-width:$mobile){
        padding: toRem(40) 0;
    }

    &__title {
        font-size: toRem(40);
        line-height: toRem(48);
        letter-spacing: -2.2%;
        font-weight: 700;
        margin-bottom: toRem(16);

        @media (max-width:$mobile){
            font-size: toRem(24);
            line-height: toRem(32);
            letter-spacing: -1.7%;
        }
    }

    &__description {
        color: $secondary;
        font-size: toRem(18);
        line-height: toRem(24);
        letter-spacing: -1.4%;
        margin-bottom: toRem(24);

        @media (max-width:$mobile){
            font-size: toRem(16);
            line-height: toRem(24);
            letter-spacing: -1.1%;
        }
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: toRem(8);
        color: $accent;
        font-size: toRem(18);
        line-height: toRem(24);
        letter-spacing: -1.4%;

        &-arrow {
            transition: transform .3s;
            width: 24px;
            height: 24px;
        }

        &:hover {
            .info-block__action-arrow {
                transform: translateX(10px);
            }
        }

        @media (max-width:$mobile){
            font-size: toRem(16);
            line-height: toRem(24);
            letter-spacing: -1.1%;

            &-arrow {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $secondary-site;
    border-radius: toRem(16);
    padding: toRem(24);
    object-fit: cover;
    transition: background-color 0.3s;

    &-title {
        font-size: toRem(24);
        line-height: toRem(32);
        font-weight: 700;
        letter-spacing: -1.9%;

        @media (max-width:$mobile){
            font-size: toRem(20);
            letter-spacing: -1.7%;
        }
    }

    &-sub-title {
        color: $tertiary;
        font-family: "SpaceMono";
        font-size: toRem(16);
        line-height: toRem(24);

        @media (max-width:$mobile){
            font-size: toRem(14);
        }
    }

    &-text {
        font-size: toRem(16);
        line-height: toRem(24);
        letter-spacing: -1.1%;

        @media (max-width:$mobile){
            line-height: toRem(20);
            font-size: toRem(14);
            letter-spacing: -0.6%;
        }    
    }

    &-status {
        display: inline-flex;
        padding: toRem(4) toRem(16);
        letter-spacing: -1.1%;
        border-radius: 50px;
        line-height: toRem(24);

        &-completed {
            background-color: $green;
        }

        &-funded {
            color: $secondary;
            background-color: $bg-primary;
            border: solid 1px $secondary-site;
        }

        &-open {
            background-color: $accent;
        }
    }

    &-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: toRem(40);
    }

    &-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &:hover {
        background-color: $nav-hover;
    }
}

.page {
    &-head {
        text-align: center;
        padding: toRem(80) 0 toRem(40);

        @media (max-width:$mobile){
            padding: toRem(24) 0 toRem(43);
        }
    }

    &-title {
        font-size: toRem(60);
        line-height: toRem(72);
        letter-spacing: -2.2%;
        font-weight: 700;
        
        @media (max-width:$tablet){
            @include adaptiveValue("font-size", 60, 32);
            @include adaptiveValue("line-height", 72, 40);
            letter-spacing: -1.7%;
        }
    }

    &-subtitle {
        color: $secondary;
        font-size: toRem(18);
        line-height: toRem(24);
        letter-spacing: -1.4%;
    }
}

.filter {
    
    &-wrapper {
        position: relative;
    }

    &-active {
        background-color: $secondary-site;
    }
    
    &-arrow-wr {
        display: none;
        
        @media (max-width:$mobile){
            display: block; 
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: toRem(100);
            background-image: linear-gradient(to right, transparent, $bg-primary);;
        }
    }

    &-arrow {
        display: none;

        @media (max-width:$mobile) {
            display: block;
            position: absolute;
            top: 50%;
            right: toRem(16);
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
        }  
    }
        

    &-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: toRem(24);
        color: $primary;
        white-space: nowrap;

        @media (max-width:$mobile) {
            flex-wrap: nowrap;
            column-gap: toRem(16);
            padding-left: toRem(24);
            justify-content: start;
            overflow-x: scroll;
            scrollbar-width: none;
            padding-right: 10%;
        }
    }

    &-item {
        font-size: toRem(16);
        line-height: toRem(24);
        letter-spacing: -1.1%;
        font-weight: 500;
        padding: toRem(12) toRem(16);
        border-radius: toRem(7.29);
        transition: background-color .3s;
        cursor: pointer;

        &:hover {
            background-color: $secondary-site;
        }

        @media (max-width:$mobile){
            font-size: toRem(14);
            line-height: toRem(20);
            padding: toRem(10) toRem(12);
        }
    }
}

.par {
    margin-bottom: toRem(40);

    &-title {
        font-size: toRem(18);
        line-height: toRem(24);
        letter-spacing: -1.4%;
        font-weight: 500;
        margin-bottom: toRem(16);

        @media (max-width:$mobile){
            font-size: toRem(16);
            letter-spacing: -1.1%;
            font-weight: 700;
        }
    }

    &-description {
        color: $secondary;
        font-size: toRem(16);
        line-height: toRem(24);
        font-weight: 400;
        letter-spacing: -1.1%;
    }
}

.back-link {
    position: absolute;
    top: 96px;
    left: -96px;
    padding: toRem(12);
    background-color: $secondary-site;
    border-radius: 50%;
    transform: rotate(180deg);
    transition: background-color .3s;

    &:hover {
        background-color: $nav-hover;
    }

    @media (max-width:$tablet){
        display: none; 
    }

    &-img {
        width: 24px;
        height: 24px;
    }
}
