// Заголовки, загальні БЕМ блоки та інше...

.main__button {
    background-color: $accent;
    padding: toRem(12) toRem(16);
    border-radius: toRem(7);
    line-height: toRem(24);
    letter-spacing: -1.1%;
    font-size: toRem(16);
    font-weight: 500;
    white-space: nowrap;
    transition: background-color 0.3s;

    &:hover {
        background-color: $accent-hover;
    }

    @media (max-width:$mobile){
        padding: toRem(10) toRem(14);
    }
}

.second__button {
    background-color: $secondary-site;
    transition: background-color 0.3s;

    &:hover {
        background-color: $nav-hover;
    }
}

.info-block {
    max-width: toRem(600);
    margin: 0 auto;
    padding: toRem(80) 0;
    text-align: center;

    @media (max-width:$mobile){
        padding: toRem(40) 0;
    }

    &__title {
        font-size: toRem(40);
        line-height: toRem(48);
        letter-spacing: -2.2%;
        font-weight: 700;
        margin-bottom: toRem(16);

        @media (max-width:$mobile){
            font-size: toRem(24);
            line-height: toRem(32);
            letter-spacing: -1.7%;
        }
    }

    &__description {
        color: $secondary;
        font-size: toRem(18);
        line-height: toRem(24);
        letter-spacing: -1.4%;
        margin-bottom: toRem(24);

        @media (max-width:$mobile){
            font-size: toRem(16);
            line-height: toRem(24);
            letter-spacing: -1.1%;
        }
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: toRem(8);
        color: $accent;
        font-size: toRem(18);
        line-height: toRem(24);
        letter-spacing: -1.4%;

        &-arrow {
            transition: transform .3s;
            width: 24px;
            height: 24px;
        }

        &:hover {
            .info-block__action-arrow {
                transform: translateX(10px);
            }
        }

        @media (max-width:$mobile){
            font-size: toRem(16);
            line-height: toRem(24);
            letter-spacing: -1.1%;

            &-arrow {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.card-title {
    font-size: toRem(24);
    line-height: toRem(32);
    font-weight: 700;
    letter-spacing: -1.9%;

    @media (max-width:$mobile){
        font-size: toRem(20);
        letter-spacing: -1.7%;
    }
}

.card-sub-title {
    color: $tertiary;
    font-family: "SpaceMono";
    font-size: toRem(16);
    line-height: toRem(24);

    @media (max-width:$mobile){
        font-size: toRem(14);
    }
}

.card-text {
    font-size: toRem(16);
    line-height: toRem(24);
    letter-spacing: -1.1%;
    text-overflow: ellipsis;
    overflow: hidden;   
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    @media (max-width:$mobile){
        line-height: toRem(20);
        font-size: toRem(14);
        letter-spacing: -0.6%;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $secondary-site;
    border-radius: toRem(16);
    padding: toRem(24);
    object-fit: cover;
    transition: background-color 0.3s;

    &__category {
        margin-bottom: toRem(8);
    }

    &__title {
        margin-bottom: toRem(8);
    }

    &__amount {
        margin-bottom: toRem(16);
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: toRem(40);
    }

    &-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &-status {
        padding: toRem(4) toRem(16);
        letter-spacing: -1.1%;
        border-radius: 50px;
        line-height: toRem(24);

        &-completed {
            background-color: $green;
        }

        &-funded {
            color: $secondary;
            background-color: $bg-primary;
            border: solid 1px $secondary-site;
        }
    }

    &:hover {
        background-color: $nav-hover;
    }
}
