//====================================================================================================

// Hero section 

.hero {
    &__content {
        padding: toRem(80) 0;

        @media (max-width:$mobile){
            @include adaptiveValue("padding-top", 80, 40);
            @include adaptiveValue("padding-bottom", 80, 40);
        }
    }

    &__title {
        font-size: toRem(80);
        font-weight: 700;
        letter-spacing: -2.2%;
        line-height: toRem(88);
        text-align: center;
        margin-bottom: toRem(40);

        @media (max-width:$mobile){
            @include adaptiveValue("line-height", 88, 48);
            @include adaptiveValue("font-size", 80, 40);
        }
        
        span {
            position: relative;
        }

        &-deco {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            inset: auto 0% toRem(-15);
            color: $accent;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        column-gap: toRem(32);
        row-gap: toRem(16);

        @media (max-width:$mobile){
            flex-wrap: wrap;
        }
    }

    &__buttons-item {
        display: flex;
        align-items: center;
        gap: toRem(12);
        letter-spacing: 1.1%;
        font-size: toRem(16);
        line-height: toRem(24);
        font-weight: 500;

        @media (max-width: toEm(500)) {
            justify-content: center;
            width: 100%;
            font-size: toRem(14);
            line-height: toRem(20);
        }
    }
}

// Statistic section

.statistics {
    margin-bottom: toRem(78);

    @media (max-width:$mobile){
        margin-bottom: toRem(41);
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        column-gap: toRem(48);
        row-gap: toRem(32);

        @media (max-width:$mobile){
            flex-direction: column; 
        }
    }

    &__item {
        text-align: center;
        font-family: 'SpaceMono';
    }

    &__point {
        color: $primary;
        line-height: toRem(32);
        font-size: toRem(20);

        @media (max-width:$mobile){
            line-height: toRem(24);
        }
    }

    &__description {
        color: $secondary;
        font-size: toRem(18);
        line-height: toRem(24);

            @media (max-width:$mobile){
            line-height: toRem(32);
            font-size: toRem(16);
        }
    }
}

// Project section

.projects {
    position: relative;

    &__info-block {
        padding-top: 0;
    }
    
    &__info-block-arrow {
        color: $accent;
        width: toRem(32);
        height: toRem(100);
        margin-bottom: toRem(30);

        @media (max-width:$mobile){
            width: toRem(20);
            height: toRem(50);
            margin-bottom: toRem(15);
        }
    }

    &__wrapper {
        max-width: toRem(980);
        margin: 0 auto;
        padding-bottom: toRem(80);

        @media (max-width:$tablet){
            padding: 0 toRem(32);
            padding-bottom: toRem(80);
        }

        @media (max-width:$mobile){
            padding-bottom: toRem(40);
        }
    }

    &__slide {
        @include adaptiveValue("max-width", 392, 256);
    }

    &__category {
        margin-bottom: toRem(8);
    }

    &__title {
        margin-bottom: toRem(8);
    }

    &__description {
        text-overflow: ellipsis;
        overflow: hidden;   
        display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
    }

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: toRem(40);

        &-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}

// Whats new section

.new {
    padding-bottom: toRem(80);

    @media (max-width:$mobile){
        padding-bottom: toRem(40);
    }

    &__info-block-wrapper {
        display: inline-block;
        position: relative;
    }

    &__info-block-deco {
        position: absolute;
        color: $accent;
        bottom: toRem(39);
        right: toRem(-52);
        width: toRem(63);
        height: toRem(60);

        @media (max-width:$mobile){
            width: toRem(30);
            height: toRem(28);
            bottom: toRem(39);
            right: toRem(-23);
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: toRem(24);

        @media (max-width:$tablet){
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        padding: 0;
        width: toRem(392);
        
        &:hover {
            background-color: $secondary-site;
        }
    }

    &__item-img {
        height: toRem(224);
        
        border: solid 5px $accent;
        border-radius: toRem(16);

        @media (max-width:$mobile){
            height: 50%;
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: toRem(16);
            object-fit: cover;
        }
    }

    &__item-text {
        padding: toRem(24);
    }

    &__item-category {
        margin-bottom: toRem(8);
    }

    &__item-title {
        margin-bottom: toRem(64);
    }

    &__item-date {
        margin-top: toRem(16);
    }
}

// Question section 

.question {
    padding-bottom: toRem(80);

    @media (max-width:$mobile){
        padding-bottom: toRem(40);
    }

    &__info-block {}

    span {
        position: relative;
    }

    &__info-block-title-deco {
        position: absolute;
        width: toRem(230); 
        height: toRem(64);
        inset: auto -30px -12px auto;
        color: $accent;

        @media (max-width:$mobile){
            width: toRem(129); 
            height: toRem(36);
            inset: auto -8px -8px auto;
        }
    }
}

// Application section 

.application {
    padding-bottom: toRem(80);

    @media (max-width:$mobile){
        padding-bottom: toRem(40);
    }

    span {
        position: relative;
    }

    &__info-block-title-deco {
        position: absolute;
        color: $accent;
        width: toRem(161);
        height: toRem(16);
        inset: 40px -10px -10px auto;

        @media (max-width:$mobile){
            inset: auto 2px -10px auto;
            width: toRem(81);
            height: toRem(8); 
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: toRem(24);
        justify-content: center;
        align-items: center;
        max-width: toRem(1224);
        margin: 0 auto;
        
        @media (max-width: toEm(1253)){
            padding: 0 toRem(24);
        }

        @media (max-width:$tablet){
            grid-template-columns: 1fr;
        }
    }

    &__cadr {
        display: block;
        min-height: toRem(480);
        max-width: toRem(392);
        position: relative;
        z-index: 1;

        &-1 {
            transform: translateY(-16px) rotate(-1deg);
        }

        &-2 {
            transform: rotate(3deg);
        }

        &-3 {
            transform: translateY(-8px) rotate(-2deg);
        }

        &:hover {
            background-color: $secondary-site;
        }

        @media (max-width:$tablet){
            justify-self: center;
            min-height: toRem(320);
        }

        @media (max-width:$mobile){
            width: 100%;
        }
    }

    &__cadr-arrow {
        position: absolute;
        height: toRem(40);
        width: toRem(120);
        color: $accent;

        @media (max-width:$tablet){
            height: toRem(30);
            width: toRem(90);
            transform: rotate(90deg);
        }
    }

    &__cadr-arrow-top {
        inset: 5px auto auto -100px;
        transform: scaleY(-1);

        @media (max-width:$tablet){
            inset: -30px auto auto 15px;
            transform: scaleX(-1) rotate(90deg);
        }
    }

    &__cadr-arrow-bottom {
        inset: auto auto 107px -80px;

        @media (max-width:$tablet){
            inset: -30px auto auto -35px;
        }
    }

    &__cadr-number {
        font-family: 'NanumPenScript';
        font-size: toRem(64);
        margin-bottom: toRem(26);
    }

    &__cadr-title {
        margin-bottom: toRem(10);
    }
}

// Action section 

.action {
    padding: toRem(80) toRem(24);

    @media (max-width:$mobile){
        padding: toRem(40) toRem(24);
    }

    &__wrapper {
        max-width: toRem(1224);
        margin: 0 auto;
        padding: toRem(40) toRem(24);
        text-align: center;
        border-radius: toRem(16);
        background-image: linear-gradient(to top, #6966ff, #514fbc);

        @media (max-width:$mobile){
            padding: toRem(40) toRem(16);  
        }
    }

    &__ques {
        font-size: toRem(18);
        letter-spacing: -1.4%;
        margin-bottom: toRem(8);

        @media (max-width:$mobile){
            font-size: toRem(16);
            letter-spacing: -1.1%;
        }
    }

    &__title {
        font-size: toRem(40);
        font-weight: 700;
        letter-spacing: -2.2%;
        line-height: toRem(48);
        margin-bottom: toRem(40);

        @media (max-width:$mobile){
            font-size: toRem(24);
            letter-spacing: -1.7%;
            line-height: toRem(32);
        }
    }

    &__button {
        color: $accent;
        background-color: $primary;
        transition: font-size 0.3s;

        &:hover {
            font-size: toRem(17);
            background-color: $primary;
        }

        @media (max-width: toEm(432)){
            width: 100%; 
        }
    }
}

//====================================================================================================

// Discover initiatives page 

//====================================================================================================

.init-head {
    &__title {
        margin-bottom: toRem(24);
    }
}

.init-card {
    padding: toRem(80) 0;

    @media (max-width:$mobile){
        padding: toRem(40) 0;
    }

    &__item {
        flex-direction: row;
        column-gap: toRem(32);
        margin-bottom: toRem(24);

        &:last-child {
            margin-bottom: toRem(0);
        }

        @media (max-width:$mobile){
            flex-direction: column;
            row-gap: toRem(16);
        }
    }

    &__title {
        margin-bottom: toRem(8);
    }

    &__text {
        margin-bottom: toRem(8);
    }
}
